tr{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
td{
    text-align: center;
}

.scrollable{
    height: 20rem;
    overflow: auto;
}
.col{
    width: 8rem;
}

.min-container{
    background-color: var(--color-primary);
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .close{
        position:absolute;
        background-color: var(--color-bg-variant);
        width: max-content;
        padding: .1rem .3rem;
        right: 0;
        top: 0;
        border-radius: 5rem;
    }
    &.disable{
        display: none;
    }
}

.adding{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    // border: 1px solid red;
    .scanme{
        width: 8rem;
        background-color: white;
    }
    &.blur{
        animation: blur 2s ease;
    }
}
.adding-form{
    // background-color: var(--);
    padding: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    position: absolute;
    top: 20%;
    .success{
        color: white;
        background-color: rgb(74, 193, 74);
        border-radius: 1rem;
        text-align: center;
        position: absolute;
        padding: .5rem .2rem;
        top: 40%;
        left: 20%;
        margin: auto;
        scale: 0;
        &.enable{
            animation: success 2s ease;
        }
    }
    input,textarea{
        width: 100%;
        border-radius: .2rem;
        padding: .5rem;
    }
    .close{
        position: absolute;
        color: red;
        top: 0;
        right: 1rem;
        &:hover{
            cursor: pointer;
            scale: 1.1;
        }

    }
    .form-element{
        margin: 0 auto;

        &:last-child{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    input,textarea{
        &::placeholder{
            color: grey;
            font-size: .6rem;
        }
    }
    .btn{
        margin-top: 1rem;
    }
}

@keyframes success{
    0%{
        scale: 0;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}
@keyframes blur{
    from{
        filter : blur(10px)
    }
    To{
        filter: blur(0px);
    }
}

@media screen and (max-width: 600px){
    *{
        font-size: 7px;
    }
    // .container {
    //         &.main {
    //             color: green;
    //         }
    //     }
}