tr{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
td{
    text-align: center;
}

.scrollable{
    height: 20rem;
    overflow: auto;
}
.col{
    width: 8rem;
}

.min-container{
    background-color: var(--color-primary);
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .close{
        position:absolute;
        background-color: var(--color-bg-variant);
        width: max-content;
        padding: .1rem .3rem;
        right: 0;
        top: 0;
        border-radius: 5rem;
    }
    &.disable{
        display: none;
    }
}

.adding{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    .scanme{
        width: 8rem;
        background-color: white;
    }
    .description{
        text-align: center;
    }
}
.adding-form{
    padding: 2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    position: absolute;
    top: 20%;
    input,textarea{
        width: 100%;
        border-radius: .2rem;
        padding: .5rem;
        border: none;
        &:active{
            border: 1px solid;
        }
    }
    .close{
        position: absolute;
        color: red;
        top: .5rem;
        right: 1rem;
        scale: 2;
        transform: rotate(45deg);
        &:hover{
            cursor: pointer;
            scale: 2.1;
        }

    }
    .form-element{
        margin: 0 auto;

        &:last-child{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    input,textarea{
        &::placeholder{
            color: grey;
            font-size: .6rem;
        }
    }
    .btn{
        margin-top: 1rem;
    }
}
.tableRow{
    display: flex;
    align-items: center;
}
@keyframes success{
    0%{
        scale: 0;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}
@keyframes blur{
    from{
        filter : blur(10px)
    }
    To{
        filter: blur(0px);
    }
}

@media screen and (max-width:1024px) {

    .scrollable {
        height: max-content;
        max-height: 70vh;
    }
    .adding-form {
        width: 80%;
        height: 50%;

        input,
        textarea,
        .close,
        .btn {
            scale: 3;
            padding: 1rem;
            margin-bottom: 8rem;
        }
        .close:hover{
            scale: 3.1 !important;
        }
    }
}
@media screen and (max-width:600px) {

    .scrollable {
        height: max-content;
        max-height: 70vh;
    }
    .adding-form{
        width: 80%;
        height: 50%;
        input,textarea,.close,.btn{
            scale: 3;
            padding: 1rem;
            margin-bottom: 8rem;
        }
    }
}